<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type ="number" id="input1" name="number1" placeholder="Enter First Number">
        <input type ="number" id="input2" name="number2" placeholder="Enter Second Number">
        <button id="calculate" type="submit">Calculate</button>
    </form>
    
    <div id="result">
        <% if(sum != null){ %>
            <span><%= sum %></span>
        <% } %>
    </div>

    <script src="/script.js"></script>
</body>
</html>